.category-card-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  margin: 1rem 0;
}

.card-caption-container,
.card-bg-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all linear 200ms;
}
.card-heading-1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}
.card-caption-container {
  transform: translateY(100px);
  opacity: 0;
  transition: all linear 300ms;
  transition-delay: 100ms;
}
.card-image-container img {
  transition: all ease-out 400ms;
}
.category-card-container:hover {
  .card-bg-container {
    background-color: white;
    filter: opacity(0.5);

    
  }
  .card-caption-container {
    transform: translateY(0px);
    opacity: 1;
    
  }
  .card-image-container img {
    transform: scale(1.1);
  }
}
