$red: #ca2026;

.footer-heading {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 2rem 0;
  color: black;
}
ul {
  padding-left: 0rem;
}
.myfooter .row {
  text-align: center;
}
li {
  list-style-type: none;
}

.myfooter {
  background-color: #eee;
  color: black;
  font-size: small;
  width: 100%;
  margin-top: 2rem;
}
.socialMedia-icon {
  font-size: large;
}

.myfooter a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.myfooter i {
  margin: 0 1rem;
}

.myfooter img {
  margin: 0 1rem;
}

.myfooter a:hover {
  color: $red;
}
.contact-us {
  // text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.copyright{
  color: grey;
  padding: 1rem 0 0.5rem 0;
}
@media screen and (max-width: 750px) {
  .brand-footer {
    text-align: center;
  }
  .footer-heading {
    text-align: center;
  }
  .products-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    margin-left: 5px;
    padding-left: 0;
    // text-align: center;
  }
}
