.loading-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 15vw;
  }
}

@media screen and (max-width: 750px) {
  .loading-container {
    img {
      width: 25vw;
    }
  }
}
