* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

@import "./navbar";
@import "./home";
@import "./footer";
@import "./card";
@import "./contactus";
@import "./loading";
@import "./productCard.scss";
